
.mdl-avatar {
    position: relative;
    width: 300px;
    height: 256px;
    padding-top: 24px;
}

.mdl-avatar img {
    position: relative;
    vertical-align: middle;
    display: block;
    width: 256px;
    height: 256px;
    margin: 0 auto;
}

.mdl-avatar label {
    z-index: 200;
}

.mdl-avatar .mdl-avatar-overlay {
    position: absolute;
    top: 24px;
    width: 300px;
    height: 256px;
    background: rgba(255,255,255,0.75);
    z-index: 20;
    opacity: 0;
    cursor: pointer;
    transition: opacity 500ms;
}

.mdl-avatar .mdl-avatar-overlay.show {
    opacity: 1;
}

.mdl-avatar .mdl-avatar-overlay .select {
    margin: 10px;
    border: 1px solid lightgray;
    background: #fff;
    height: calc(100% - 22px);
    display: none;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list {
    padding: 0;
    margin: 0;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item .mdl-list__item-primary-content label {
    display: inline-block;
    width: 100%;
    max-height: 32px;
    line-height: 32px;
    max-width: 164px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item {
    padding: 13px 16px;
    border-bottom: 1px solid lightgray;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item:last-child {
    border-bottom: none;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item .mdl-radio {
    display: inline;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item .mdl-list__item-avatar {
    margin-right: 16px;
}

.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item .mdl-list__item-avatar,
.mdl-avatar .mdl-avatar-overlay .select .mdl-list .mdl-list__item .mdl-list__item-avatar.material-icons {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 32px;
    color: #757575;
}